* {
    font-family: monospace;
}

h1 {
    font-size: 400%;
}

.title {
    text-shadow: 7px 7px 10px black;
    font-weight: 900;
    margin-top: 0;
}

p {
    font-size: 150%;
}

body {
    background-color: #154c79;
    color: white;
    padding: 3em;
    text-align: center;
}