{% extends 'base.html' %} {% block head %}
<title>ABGScraper</title>
{% endblock %} {% block body %}
<form action="/" method="POST">
  <div id="name">
    <label
      >Enter the username of the account which you want to perform action on:
    </label>
    <form action="/" methods="POST"> 
      <input id="username" type="text" name="username" required/>
      <button type="submit">Validate</button>
    </form>
    <br /><br /><br />
    <label>What do you want to do? </label>
    <select name="operations" id="operations">
      <option value="" disabled selected>Select your option</option>
      <option value="pfpDownload">Download the profile picture</option>
      <option value="scrap">Scrap</option>
    </select>
    <br /><br /><br /><br /><br /><br />
    <button id="startBtn">Start</button>
  </div>
</form>
{% endblock %}
